* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1;
  background-color: #D23939;
}

/*SIDEBAR*/
.sidebar {
  position: absolute;
  background-color: #711A1A;
  width: 192px;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 0 9px 9px 0;
  transition: all ease-in 0.3s;
}

.sidebar.hide {
  width: 93px;
  transition: all ease-out 0.3s;
}

.sidebar .profil img {
  width: 100px;
  margin-left: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: ease-in 0.3s;
}

.sidebar .profil h1 {
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 13px;
}

.sidebar.hide .profil img {
  width: 45px;
  margin-left: 12px;
  margin-top: 80px;
}

.sidebar.hide .profil h1 {
  display: none;
}

.sidebar.hide #menu-button {
  top: 34px;
  width: 35px;
  position: absolute;
  overflow: hidden;
  margin-left: 15px;
  transition: ease-in 0.4s;
}

.sidebar .text {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  color: #FFFF;
}

.sidebar.hide .text {
  display: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar.hide a .img {
  display: none;
}

.content {
  flex-grow: 1;
  background: #D23939;
  margin-left: 15px;
}

.sidebar ul li .text {
  font-size: 15px;
}

.sidebar .nav:hover {
  border: none;
}

.sidebar.hide ul li .text {
  display: none;
}

.sidebar li.nav-link.active {
  background-color: #D23939;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 250px;
}

.sidebar li.nav-link:hover,
.nav-link:focus {
  border: none;
}

.sidebar li.nav-link {
  border: none;
  color: none;
  transition: none;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: #c7acac;
}

.sidebar li i {
  margin-right: 5px;
}

.sidebar li a {
  color: #FFFF;
}

/*SIDEBAR End*/

/*TOGGLE MENU*/
#menu-button {
  top: 34px;
  width: 25px;
  position: absolute;
  overflow: hidden;
  margin-left: 5px;
}

#m-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}

#hamburger,
#m-label:after,
#m-label:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFFF;
}

#m-label:after,
#m-label:before {
  content: "";
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#m-label:before {
  top: 0;
}

#m-label:after {
  top: 8px;
}

#hamburger {
  top: 16px;
}

#hamburger:before {
  content: "MENU";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #FFFF;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}

#menu-checkbox:checked+#m-label:before {
  left: -39px;
}

#menu-checkbox:checked+#m-label:after {
  left: 39px;
}

#menu-checkbox:checked+#m-label #hamburger:before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@keyframes shakeUp {
  0% {
    transform: rotateZ(0);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(0);
  }

  75% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeDown {
  0% {
    transform: rotateZ(0);
  }

  80% {
    transform: rotateZ(3deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

/*TOGGLE MENU End*/

/* Dsb Home */
#home header {
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  margin-left: 85px;
  margin-top: 86px;
}

#home img {
  width: 170px;
  margin-left: 85px;
  margin-top: 420px;
}

/* Dsb Home End */

/* Dsb Mahasiswa */
/* List Mahasiswa */
#mhs {
  width: auto;
  margin-top: 90px;
  margin-left: 85px;
}

#mhs header {
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
}

#mhs a {
  text-decoration: none;
  color: white;
}

#mhs table {
  font-size: 8px;
}

.header th {
  border-right: 0.1px solid #711A1A;
}

.topTable {
  border-bottom: 1.5px solid #711A1A;
}

.header th:last-child {
  border: 0;
}

.content tr {
  border-bottom: 0.1px solid #711A1A;
}

.content td {
  border-right: 0.1px solid #711A1A
}

.content th {
  border-right: 0.1px solid #711A1A
}

.content td:last-child {
  border: 0;
}

#mhs footer img {
  width: 170px;
  margin-left: 40px;
  margin-top: 50px;
}

/* List Mahasiswa End */

/* Registrasi */


/* Registrasi End */

/* Dsb Mahasiswa End */