* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1;
  background-color: #D23939;
}

body select {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

/* kelola admin */
.sidebar .kelola {
  margin-top: 55%;
  margin-left: 15px;
}

.sidebar.hide .kelola {
  margin-top: 85%;
  margin-left: 10px;
}

.sidebar .kelola a i {
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF
}

.sidebar .kelola ul.dropdown-menu {
  background-color: #711A1A;
  border: 2px solid #D23939;
  font-size: 10px;
  min-width: 7rem;
}

.sidebar .kelola ul.dropdown-menu li a:hover {
  background: #D23939;
  border-radius: 4px;
  color: #FFFFFF;
}

/* registrasi admin */
#regt {
  position: absolute;
  width: 290px;
  padding: 10px;
  left: 50%;
  top: 0;
  background: #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#regt.active {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#regt h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#regt .usePass {
  background: #D23939;
  border-radius: 8px;
  width: 100%;
  padding: 5px;
}

#regt form input {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#regt form textarea {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
}

#regt form button {
  width: 100px;
  background: #D23939;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
}

#regt form button a {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

/* edit data admin */
#editr {
  position: absolute;
  width: 290px;
  padding: 10px;
  left: 50%;
  top: 0;
  background: #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#editr.active {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#editr h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#editr .usePass {
  background: #D23939;
  border-radius: 8px;
  width: 100%;
  padding: 5px;
}

#editr form input {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#editr form textarea {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
}

#editr form button {
  width: 100px;
  background: #D23939;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
}

#editr form button a {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

/* kelola data admin */
#kelola {
  position: absolute;
  width: 290px;
  height: 300px;
  padding: 5px;
  left: 50%;
  top: 0;
  background: #D23939;
  border: 5px solid #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#kelola.active {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#kelola h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#kelola p {
  color: #FFFFFF;
  font-size: 7px;
  margin-bottom: 0;
}

#kelola button .back-btn {
  position: absolute;
  left: 90%;
  top: -10%;
  font-size: 28px;
}

#kelola .btn-sm {
  font-size: .1rem;
}

#kelola #i {
  color: #FFFFFF;
  font-size: 10px;
}

/* confirm ubah level */
#ganlev {
  position: absolute;
  width: 270px;
  height: 150px;
  left: 50%;
  top: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.3s;
}

#ganlev.open {
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  z-index: 50;
}

#ganlev h3 {
  font-family: 'Acme';
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

#ganlev span {
  width: 100%;
  height: 3px;
  background-color: #711A1A;
  border-radius: 3px;
  border: 0;
  margin-bottom: 5px;
}

#ganlev p {
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
  margin-bottom: .5rem;
}

#ganlev button {
  width: 65px;
  margin: 0;
  padding: 4px;
  font-weight: 800;
}

#ganlev button a {
  text-decoration: none;
  color: #000000;
}

/* kelola data admin end */

/* untuk chrome */
form input::-webkit-input-placeholder {
  color: #FFFFFF;
}

/* untuk mozilla */
form input::-moz-input-placeholder {
  color: #FFFFFF;
}

/* untuk internet explorer */
form input::-ms-input-placeholder {
  color: #FFFFFF;
}

/* untuk chrome */
form textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

/* untuk mozilla */
form textarea::-moz-input-placeholder {
  color: #FFFFFF;
}

/* untuk internet explorer */
form textarea::-ms-input-placeholder {
  color: #FFFFFF;
}

#mhs .search {
  position: absolute;
  right: 8%;
  top: 15%;
}

#mhs .search input {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  padding: 10px;
}

#mhs .search button {
  border: 2px solid #FFFFFF;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 10px;
  border-radius: 30%;
}

#matkul .search {
  position: absolute;
  right: 8%;
  top: 15%;
}

#matkul .search input {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  padding: 10px;
}

#matkul .search button {
  border: 2px solid #FFFFFF;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 10px;
  border-radius: 30%;
}

#krs .search {
  position: absolute;
  right: 8%;
  top: 1%;
}

#krs .search input {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  padding: 10px;
}

#krs .search button {
  border: 2px solid #FFFFFF;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 10px;
  border-radius: 30%;
}

.jumlahData {
  color: #FFFFFF;
  font-size: 15px;
}

/*SIDEBAR*/
.sidebar {
  position: absolute;
  background-color: #711A1A;
  width: 192px;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 0 9px 9px 0;
  transition: all ease-in 0.3s;
  z-index: 20;
}

.sidebar .header a .img {
  width: 125px;
  float: right;
  margin-top: 24px;
  margin-right: 8px;
}

.sidebar.hide {
  min-height: 100vh;
  width: 90px;
  transition: all ease-out 0.3s;
}

.sidebar .profil img {
  width: 100px;
  height: 100px;
  margin-left: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: ease-in 0.3s;
  object-fit: cover;
}

.sidebar .profil h1 {
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: 13px;
}

.sidebar.hide .profil img {
  width: 45px;
  height: 45px;
  margin-left: 12px;
  margin-top: 80px;
  object-fit: cover;
}

.sidebar.hide .profil h1 {
  display: none;
}

.sidebar.hide #menu-button {
  top: 34px;
  width: 35px;
  position: absolute;
  overflow: hidden;
  margin-left: 15px;
  transition: ease-in 0.4s;
}

.sidebar .text {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  color: #FFFF;
}

.sidebar.hide .text {
  display: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar.hide a .img {
  display: none;
}

.content {
  flex-grow: 1;
  background: #D23939;
  margin-left: 15px;
}

.sidebar ul li .text {
  font-size: 15px;
}

.sidebar .nav:hover {
  border: none;
}

.sidebar.hide ul li {
  display: visible;
}

.sidebar.hide ul li .text {
  display: none;
}

.sidebar li.nav-link.active {
  background-color: #D23939;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 250px;
}

.sidebar li.nav-link:hover,
.nav-link:focus {
  border: none;
}

.sidebar li.nav-link {
  border: none;
  color: none;
  transition: none;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: #c7acac;
}

.sidebar li i {
  margin-right: 5px;
}

.sidebar li a {
  color: #FFFF;
}

/*SIDEBAR End*/

/*TOGGLE MENU*/
#menu-button {
  top: 34px;
  width: 25px;
  position: absolute;
  overflow: hidden;
  margin-left: 5px;
}

#m-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}

#hamburger,
#m-label:after,
#m-label:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFFF;
}

#m-label:after,
#m-label:before {
  content: "";
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#m-label:before {
  top: 0;
}

#m-label:after {
  top: 8px;
}

#hamburger {
  top: 16px;
}

#hamburger:before {
  content: "MENU";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #FFFF;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}

#menu-checkbox:checked+#m-label:before {
  left: -39px;
}

#menu-checkbox:checked+#m-label:after {
  left: 39px;
}

#menu-checkbox:checked+#m-label #hamburger:before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@keyframes shakeUp {
  0% {
    transform: rotateZ(0);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(0);
  }

  75% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeDown {
  0% {
    transform: rotateZ(0);
  }

  80% {
    transform: rotateZ(3deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

/*TOGGLE MENU End*/

/* Dsb Home */
#home header {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  width: 500px;
  margin-left: 35%;
  margin-top: 5%;
  padding: 10px;
}

#home header p {
  font-family: 'Acme', sans-serif;
  width: 100%;
  text-align: center;
}

#home img {
  width: 300px;
  margin-left: 44%;
  margin-top: 33%;
}

/* Dsb Home End */

/* Dsb Mahasiswa */
/* List Mahasiswa */
#mhs {
  width: auto;
  margin-top: 5%;
  margin-left: 15%;
}

#mhs header {
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 32px;
}

#btnRegis {
  padding-left: 0;
  font-size: 20px;
}

#mhs table {
  font-size: 12px;
}

#listItem {
  height: 425px;
  overflow-y: auto;
}

#listItem .headerMhs th {
  border-bottom: 3px solid #711A1A;
  border-right: 1px solid #711A1A;
}

#listItem .headerMhs th:last-child {
  border-right: 0;
  padding: 4px 20px 8px 20px;
}

#listItem .headerMhs th:nth-child(2) {
  padding: 4px 50px 8px 50px;
}

#listItem .headerMhs th:nth-child(6) {
  padding: 4px 50px 8px 50px;
}

.contentTable tr {
  border-bottom: 1px solid #711A1A;
}

.contentTable tr th {
  border-right: 1px solid #711A1A;
  border-bottom: 1px solid #711A1A;
}

.contentTable tr td {
  border-right: 1px solid #711A1A;
}

.contentTable tr td:last-child {
  border-right: 0;
}

#mhs footer img {
  width: 250px;
  margin-left: 35%;
  margin-top: 2%;
}

/* List Mahasiswa End */

.back-btn {
  position: absolute;
  left: 90%;
  top: -5%;
  font-size: 28px;
}

.back-btn a:hover {
  color: #adadad;
}

.back-btn a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Registrasi */
#regis {
  position: absolute;
  width: 290px;
  padding: 10px;
  left: 50%;
  top: 0;
  background: #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#regis.open {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#regis h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#regis .usePass {
  background: #D23939;
  border-radius: 8px;
  width: 100%;
  padding: 5px;
}

#regis form input {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#regis form textarea {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
}

#regis form button {
  width: 100px;
  background: #D23939;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
}

#regis form button a {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Registrasi End */

/* Edit Data */
#edit {
  position: absolute;
  width: 290px;
  padding: 10px;
  left: 50%;
  top: 0;
  background: #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#edit.open {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#edit h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#edit .usePass {
  background: #D23939;
  border-radius: 8px;
  width: 100%;
  padding: 5px;
}

#edit form input {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#edit form textarea {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
}

#edit form button {
  width: 100px;
  background: #D23939;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

#edit form button a {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Edit Data End */

/* Delete Data */
#delete {
  position: absolute;
  width: 270px;
  height: 150px;
  left: 50%;
  top: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.3s;
}

#delete.open {
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  z-index: 50;
}

#delete h3 {
  font-family: 'Acme';
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

#delete span {
  width: 100%;
  height: 3px;
  background-color: #711A1A;
  border-radius: 3px;
  border: 0;
  margin-bottom: 10px;
}

#delete p {
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
}

#delete button {
  width: 65px;
  margin: 0;
  padding: 4px;
  font-weight: 800;
}

#delete button a {
  text-decoration: none;
  color: #000000;
}

/* Delete Data End */
/* Dsb Mahasiswa End */

/* Dsb Matkul */
/* list Matkul */
#matkul {
  width: auto;
  margin-top: 5%;
  margin-left: 15%;
}

#matkul header {
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 32px;
}

#btnMatkul {
  padding-left: 0;
  font-size: 20px;
}

#matkul table {
  font-size: 12px;
}

#listMatkul {
  height: 425px;
  overflow-y: auto;
}

#listMatkul .headerMatkul th {
  border-bottom: 3px solid #711A1A;
  border-right: 1px solid #711A1A;
}

#listMatkul .headerMatkul th:last-child {
  border-right: 0;
  padding: 4px 20px 8px 20px;
}

#listMatkul .headerMatkul th:nth-child(2) {
  padding: 4px 5px 8px 5px;
}

#listMatkul .headerMatkul th:nth-child(6) {
  padding: 4px 50px 8px 50px;
}

.contentTable tr {
  border-bottom: 1px solid #711A1A;
}

.contentTable tr th {
  border-right: 1px solid #711A1A;
  border-bottom: 1px solid #711A1A;
}

.contentTable tr td {
  border-right: 1px solid #711A1A;
}

.contentTable tr td:last-child {
  border-right: 0;
}

#matkul footer img {
  width: 250px;
  margin-left: 35%;
  margin-top: 3%;
}

/* List Matkul End */

/* Input Matkul */
#inputMk {
  position: absolute;
  width: 290px;
  padding: 10px;
  left: 50%;
  top: 0;
  background: #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#inputMk.open {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#inputMk h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#inputMk .back-btn {
  position: absolute;
  left: 90%;
  top: -10%;
  font-size: 28px;
}

#inputMk .back-btn a:hover {
  color: #adadad;
}

#inputMk .back-btn a {
  text-decoration: none;
  color: #FFFFFF;
}

#inputMk form input {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#inputMk form button {
  margin-top: 10px;
  width: 100px;
  background: #D23939;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

#inputMk form button a {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Input Matkul End */

/* Edit Matkul */
#editMk {
  position: absolute;
  width: 290px;
  padding: 10px;
  left: 50%;
  top: 0;
  background: #EA7A7A;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.4s;
}

#editMk.open {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 50;
}

#editMk h3 {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

#editMk .back-btn {
  position: absolute;
  left: 90%;
  top: -10%;
  font-size: 28px;
}

#editMk .back-btn a:hover {
  color: #adadad;
}

#editMk .back-btn a {
  text-decoration: none;
  color: #FFFFFF;
}

#editMk form input {
  background: #D23939;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#editMk form button {
  margin-top: 10px;
  width: 100px;
  background: #D23939;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

#editMk form button a {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Edit Matkul End */

/* Delete Matkul */
#deleteMk {
  position: absolute;
  width: 270px;
  height: 150px;
  left: 50%;
  top: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.3s;
}

#deleteMk.open {
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  z-index: 50;
}

#deleteMk h3 {
  font-family: 'Acme';
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

#deleteMk span {
  width: 100%;
  height: 3px;
  background-color: #711A1A;
  border-radius: 3px;
  border: 0;
  margin-bottom: 10px;
}

#deleteMk p {
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
}

#deleteMk button {
  width: 65px;
  margin: 0;
  padding: 4px;
  font-weight: 800;
}

#deleteMk button a {
  text-decoration: none;
  color: #000000;
}

/* Delete Matkul End */
/* dsb Mk End */

/* dsb Krs */
/* List Krs */
#krs {
  width: auto;
  margin-top: 5%;
  margin-left: 15%;
  visibility: visible;
  transform: scale(1);
}

#krs.open {
  visibility: hidden;
  transform: scale(0.1);
}

#krs header {
  color: #FFFFFF;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 32px;
}

#krs table {
  font-size: 12px;
}

#listKrs {
  height: 425px;
  overflow-y: auto;
}

#listKrs .headerKrs th {
  border-bottom: 3px solid #711A1A;
  border-right: 1px solid #711A1A;
}

#listKrs .headerKrs th:last-child {
  border-right: 0;
  padding: 4px 20px 8px 20px;
}

#listKrs .headerKrs th:nth-child(2) {
  padding: 4px 50px 8px 50px;
}

#listKrs .headerKrs th:nth-child(6) {
  padding: 4px 50px 8px 50px;
}

.contentTable tr {
  border-bottom: 1px solid #711A1A;
}

.contentTable tr th {
  border-right: 1px solid #711A1A;
  border-bottom: 1px solid #711A1A;
}

.contentTable tr td {
  border-right: 1px solid #711A1A;
}

.contentTable tr td:last-child {
  border-right: 0;
}

#btnDetail {
  border: 1px solid #FFFFFF;
  width: auto;
  padding: 2px 10px 2px 10px;
  margin: 0;
}

#btnDetail a {
  text-decoration: none;
  font-size: 11px;
  color: #FFFFFF;
}

#krs footer img {
  width: 250px;
  margin-left: 35%;
  margin-top: 3%;
}

#krs .jumlahData {
  color: #FFFFFF;
  font-size: 15px;
}

/* List Krs End */

/* Detail Krs */
#detailKrs {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.3s;
}

#detailKrs.open {
  left: 50%;
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

#detailKrs h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #FFFFFF;
}

#detailMenu {
  top: 10%;
  left: 50%;
  width: 250px;
  height: 420px;
  border-radius: 10px;
  background-color: #EA7A7A;
  padding: 10px;
}

#detailMenu p {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

#detailMenu span {
  width: 50px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

#detailMenu input {
  margin-left: 20px;
  width: 140px;
  height: 20px;
  background: #D23939;
  border-radius: 6px;
  font-size: 11px;
  padding: 4px;
  color: #FFFFFF;
}

#detailMenu form div {
  display: flex;
  justify-content: center;
}

#krsMhs {
  width: auto;
  overflow-y: auto;
}

#krsMhs table {
  font-size: 10px;
}

#krsMhs table thead {
  border-bottom: 2px solid #711A1A;
  padding: 4px;
  text-align: center;
}

#krsMhs table tbody tr th {
  padding: 8px 2px 4px 4px;
}

#toggleKrs {
  display: flex;
  justify-content: end;
}

#toggleKrs button {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

#toggleKrs button a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

#detailKrs footer {
  text-align: center;
  margin-top: 3%;
}

#detailKrs footer img {
  width: 170px;
}

/* Delete KRS */
#deleteKrs {
  position: absolute;
  width: 270px;
  height: 150px;
  left: 50%;
  top: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: all ease-in 0.3s;
}

#deleteKrs.open {
  top: 20%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  z-index: 50;
}

#deleteKrs h3 {
  font-family: 'Acme';
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

#deleteKrs span {
  width: 100%;
  height: 3px;
  background-color: #711A1A;
  border-radius: 3px;
  border: 0;
  margin-bottom: 10px;
}

#deleteKrs p {
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
}

#deleteKrs button {
  width: 65px;
  margin: 0;
  padding: 4px;
  font-weight: 800;
}

#deleteKrs button a {
  text-decoration: none;
  color: #000000;
}

/* Delete KRS End */
/* Detail Krs End */
/* dsb Krs End*/

/* dsb About */
#about {
  width: auto;
  margin-top: 5%;
  margin-left: 15%;
}

#about h2 {
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #FFFFFF;
}

#about article {
  width: 250px;
  height: auto;
  background: #EA7A7A;
  border-radius: 8px;
  padding: 15px;
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
}

#medsos {
  width: 250px;
  height: auto;
  background: #EA7A7A;
  border-radius: 8px;
  padding: 15px;
  color: #000000;
}

#medsos p {
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
}

#medsos #icon {
  position: relative;
  left: 40%;
  font-size: 23px;
}

#medsos .email {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#medsos .email a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

#medsos .insta ul {
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  display: flex;
  padding: 4px;
  margin: 0;
}

#medsos .insta ul li a {
  text-decoration: none;
  color: #000000;
}

#about footer {
  text-align: left;
  margin-top: 3%;
}

#about footer img {
  margin-left: 4%;
  width: 170px;
}

/* dsb About End */

/* Responsive small android */
@media screen and (max-width: 375px) {
  #mhs .search {
    position: relative;
    left: 1%;
  }

  #mhs .search input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #mhs .search button {
    border: 2px solid #FFFFFF;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 30%;
  }

  #matkul .search {
    position: relative;
    left: 1%;
  }

  #matkul .search input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #matkul .search button {
    border: 2px solid #FFFFFF;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 30%;
  }

  #krs .search {
    position: relative;
    left: 1%;
  }

  #krs .search input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #krs .search button {
    border: 2px solid #FFFFFF;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 30%;
  }

  #krs .jumlahData {
    color: #FFFFFF;
    font-size: 15px;
  }

  .jumlahData {
    color: #FFFFFF;
    font-size: 15px;
  }

  .sidebar {
    position: absolute;
    background-color: #711A1A;
    width: 130px;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 0 9px 9px 0;
    transition: all ease-in 0.3s;
    z-index: 20;
  }

  .sidebar .header a .img {
    width: 73px;
    margin-right: 3px;
    margin-top: 28px;
  }

  .sidebar .profil img {
    width: 85px;
    height: 85px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: ease-in 0.3s;
    object-fit: cover;
  }

  .sidebar .profil h1 {
    font-weight: 700;
    font-size: 8px;
    color: #FFFFFF;
    margin-left: 13px;
  }

  .sidebar .text {
    font-size: 8px;
    font-weight: 700;
    text-align: left;
    color: #FFFF;
  }

  .sidebar ul li .text {
    font-size: 8px;
  }

  .sidebar li.nav-link.active {
    background-color: #D23939;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 250px;
  }

  .sidebar li i {
    margin-right: 5px;
  }

  .sidebar.hide {
    min-height: 100vh;
    width: 50px;
    transition: all ease-out 0.3s;
  }

  .sidebar.hide #menu-button {
    top: 34px;
    width: 25px;
    position: absolute;
    overflow: hidden;
    margin-left: 2.5px;
    transition: ease-in 0.4s;
  }

  .sidebar.hide .profil img {
    width: 35px;
    height: 35px;
    margin-left: -3px;
    margin-top: 80px;
    object-fit: cover;
  }

  .sidebar.hide ul li {
    display: visible;
    padding-left: 8px;
  }

  .sidebar.hide li.nav-link.active {
    background-color: #D23939;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    width: 250px;
  }

  #home header {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    width: 300px;
    margin-left: 10%;
    margin-top: 30%;
    padding: 10px;
  }

  #home header p {
    width: 100%;
    text-align: center;
  }

  #home img {
    width: 170px;
    margin-left: 30%;
    margin-top: 90%;
  }

  #mhs {
    width: auto;
    margin-top: 40px;
    margin-left: 10%;
  }

  #mhs header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #btnRegis {
    padding-left: 0;
    font-size: 17px;
  }

  #mhs table {
    font-size: 11px;
  }

  #listItem {
    height: 425px;
    overflow-y: auto;
  }

  #mhs footer img {
    width: 170px;
    margin-left: 23%;
    margin-top: 25px;
  }

  #regis {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #regis.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #edit {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #edit.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #delete {
    position: absolute;
    width: 270px;
    height: 150px;
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.3s;
  }

  #delete.open {
    top: 20%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    z-index: 50;
  }

  #matkul {
    width: auto;
    margin-top: 40px;
    margin-left: 10%;
  }

  #matkul header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #btnMatkul {
    padding-left: 0;
    font-size: 17px;
  }

  #matkul table {
    font-size: 11px;
  }

  #listMatkul {
    height: 425px;
    overflow-y: auto;
  }

  #matkul footer img {
    width: 170px;
    margin-left: 20%;
    margin-top: 25px;
  }

  #inputMk {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #inputMk.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #editMk {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #editMk.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #deleteMk {
    position: absolute;
    width: 270px;
    height: 150px;
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.3s;
  }

  #deleteMk.open {
    top: 20%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    z-index: 50;
  }

  #krs {
    width: auto;
    margin-top: 40px;
    margin-left: 10%;
    visibility: visible;
    transform: scale(1);
  }

  #krs.open {
    visibility: hidden;
    transform: scale(0.1);
  }

  #krs header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #krs table {
    font-size: 11px;
  }

  #listKrs {
    height: 425px;
    overflow-y: auto;
  }

  #krs footer img {
    width: 170px;
    margin-left: 20%;
    margin-top: 25px;
  }

  #detailKrs {
    position: absolute;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.3s;
  }

  #detailKrs.open {
    left: 55%;
    top: 30%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  #detailKrs h2 {
    text-align: left;
    margin-top: 60%;
    margin-left: 17%;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #detailMenu {
    width: 250px;
    height: 420px;
    border-radius: 10px;
    padding: 10px;
  }

  #detailMenu p {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }

  #detailMenu span {
    width: 50px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }

  #detailMenu input {
    margin-left: 20px;
    width: 140px;
    height: 20px;
    border-radius: 6px;
    font-size: 11px;
    padding: 4px;
  }

  #detailMenu form div {
    display: flex;
    justify-content: center;
  }

  #krsMhs {
    width: auto;
    overflow-y: scroll;
  }

  #krsMhs table {
    font-size: 10px;
  }

  #krsMhs table thead {
    padding: 4px;
    text-align: center;
  }

  #krsMhs table tbody tr th {
    padding: 8px 2px 4px 4px;
  }

  #toggleKrs {
    display: flex;
    justify-content: end;
  }

  #toggleKrs button a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }

  #detailKrs footer {
    text-align: center;
  }

  #detailKrs footer img {
    margin-top: 10%;
    width: 170px;
  }

  #about {
    width: auto;
    margin-top: 40px;
    margin-left: 18%;
  }

  #about h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #about article {
    width: 250px;
    height: auto;
    border-radius: 8px;
    padding: 15px;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #medsos {
    width: 250px;
    height: auto;
    border-radius: 8px;
    padding: 15px;
  }

  #medsos p {
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
  }

  #medsos #icon {
    position: relative;
    left: 40%;
    font-size: 23px;
  }

  #medsos .email {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  #medsos .email a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  #medsos .insta ul {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    padding: 4px;
    margin: 0;
  }

  #about footer img {
    width: 170px;
    margin-left: 14%;
    margin-top: 13%;
  }
}

/* Responsive huge android */
@media screen and (max-width: 412px) {
  #mhs .search {
    position: relative;
    display: inline-block;
    left: 1%;
  }

  #mhs .search input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #mhs .search button {
    border: 2px solid #FFFFFF;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 30%;
  }

  #matkul .search {
    position: relative;
    left: 1%;
  }

  #matkul .search input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #matkul .search button {
    border: 2px solid #FFFFFF;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 30%;
  }

  #krs .search {
    position: relative;
    left: 1%;
  }

  #krs .search input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #krs .search button {
    border: 2px solid #FFFFFF;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
    border-radius: 30%;
  }

  #krs .jumlahData {
    color: #FFFFFF;
    font-size: 15px;
  }

  .jumlahData {
    color: #FFFFFF;
    font-size: 15px;
  }

  .sidebar {
    position: absolute;
    background-color: #711A1A;
    width: 130px;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 0 9px 9px 0;
    transition: all ease-in 0.3s;
    z-index: 20;
  }

  .sidebar .header a .img {
    width: 73px;
    margin-right: 3px;
    margin-top: 28px;
  }

  .sidebar .profil img {
    width: 85px;
    height: 85px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: ease-in 0.3s;
    object-fit: cover;
  }

  .sidebar .profil h1 {
    font-weight: 700;
    font-size: 8px;
    color: #FFFFFF;
    margin-left: 13px;
  }

  .sidebar .text {
    font-size: 8px;
    font-weight: 700;
    text-align: left;
    color: #FFFF;
  }

  .sidebar ul li .text {
    font-size: 8px;
  }

  .sidebar li.nav-link.active {
    background-color: #D23939;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 250px;
  }

  .sidebar li i {
    margin-right: 5px;
  }

  .sidebar.hide {
    min-height: 100vh;
    width: 50px;
    transition: all ease-out 0.3s;
  }

  .sidebar.hide #menu-button {
    top: 34px;
    width: 25px;
    position: absolute;
    overflow: hidden;
    margin-left: 2.5px;
    transition: ease-in 0.4s;
  }

  .sidebar.hide .profil img {
    width: 35px;
    height: 35px;
    margin-left: -3px;
    margin-top: 80px;
    object-fit: cover;
  }

  .sidebar.hide ul li {
    display: visible;
    padding-left: 8px;
  }

  .sidebar.hide li.nav-link.active {
    background-color: #D23939;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    width: 250px;
  }

  #home header {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    width: 300px;
    margin-left: 10%;
    margin-top: 30%;
    padding: 10px;
  }

  #home header p {
    width: 100%;
    text-align: center;
  }

  #home img {
    width: 170px;
    margin-left: 30%;
    margin-top: 90%;
  }

  #mhs {
    width: auto;
    margin-top: 40px;
    margin-left: 10%;
  }

  #mhs header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #btnRegis {
    padding-left: 0;
    font-size: 17px;
  }

  #mhs table {
    font-size: 11px;
  }

  #listItem {
    height: 425px;
    overflow-y: auto;
  }

  #mhs footer img {
    width: 170px;
    margin-left: 23%;
    margin-top: 25px;
  }

  #regis {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #regis.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #edit {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #edit.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #delete {
    position: absolute;
    width: 270px;
    height: 150px;
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.3s;
  }

  #delete.open {
    top: 20%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    z-index: 50;
  }

  #matkul {
    width: auto;
    margin-top: 40px;
    margin-left: 10%;
  }

  #matkul header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #btnMatkul {
    padding-left: 0;
    font-size: 17px;
  }

  #matkul table {
    font-size: 11px;
  }

  #listMatkul {
    height: 425px;
    overflow-y: auto;
  }

  #matkul footer img {
    width: 170px;
    margin-left: 20%;
    margin-top: 25px;
  }

  #inputMk {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #inputMk.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #editMk {
    position: absolute;
    width: 290px;
    padding: 10px;
    left: 50%;
    top: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.4s;
  }

  #editMk.open {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
  }

  #deleteMk {
    position: absolute;
    width: 270px;
    height: 150px;
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.3s;
  }

  #deleteMk.open {
    top: 20%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    z-index: 50;
  }

  #krs {
    width: auto;
    margin-top: 40px;
    margin-left: 10%;
    visibility: visible;
    transform: scale(1);
  }

  #krs.open {
    visibility: hidden;
    transform: scale(0.1);
  }

  #krs header {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #krs table {
    font-size: 11px;
  }

  #listKrs {
    height: 425px;
    overflow-y: auto;
  }

  #krs footer img {
    width: 170px;
    margin-left: 20%;
    margin-top: 25px;
  }

  #detailKrs {
    position: absolute;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: all ease-in 0.3s;
  }

  #detailKrs.open {
    left: 55%;
    top: 30%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  #detailKrs h2 {
    text-align: left;
    margin-top: 60%;
    margin-left: 17%;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #detailMenu {
    width: 250px;
    height: 420px;
    border-radius: 10px;
    padding: 10px;
  }

  #detailMenu p {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }

  #detailMenu span {
    width: 50px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }

  #detailMenu input {
    margin-left: 20px;
    width: 140px;
    height: 20px;
    border-radius: 6px;
    font-size: 11px;
    padding: 4px;
  }

  #detailMenu form div {
    display: flex;
    justify-content: center;
  }

  #krsMhs {
    width: auto;
    overflow-y: scroll;
  }

  #krsMhs table {
    font-size: 10px;
  }

  #krsMhs table thead {
    padding: 4px;
    text-align: center;
  }

  #krsMhs table tbody tr th {
    padding: 8px 2px 4px 4px;
  }

  #toggleKrs {
    display: flex;
    justify-content: end;
  }

  #toggleKrs button a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }

  #detailKrs footer {
    text-align: center;
  }

  #detailKrs footer img {
    margin-top: 10%;
    width: 170px;
  }

  #about {
    width: auto;
    margin-top: 40px;
    margin-left: 18%;
  }

  #about h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
  }

  #about article {
    width: 250px;
    height: auto;
    border-radius: 8px;
    padding: 15px;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  #medsos {
    width: 250px;
    height: auto;
    border-radius: 8px;
    padding: 15px;
  }

  #medsos p {
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
  }

  #medsos #icon {
    position: relative;
    left: 40%;
    font-size: 23px;
  }

  #medsos .email {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  #medsos .email a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }

  #medsos .insta ul {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    padding: 4px;
    margin: 0;
  }

  #about footer img {
    width: 170px;
    margin-left: 14%;
    margin-top: 13%;
  }
}