body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Monserrat', sans-serif;  
    background-color: #D23939;
}

/*SIDEBAR*/
.sidebar{
    background-color: #711A1A;
    width: 192px;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 0 9px 9px 0;
    transition: all ease-in 0.3s;
    position: absolute;
    min-height: 100vh;
}

.sidebar.hide{
    width: 90px;
    transition: all ease-out 0.3s;
}

.sidebar .profil img{
    width: 100px;
    margin-left: 21px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    transition: all ease-in 0.3s;
}

.sidebar .profil h1{
    font-weight: 700;
    font-size: 15px;
    color: #FFFF;
    text-align: center;
}

.sidebar.hide .profil img{
    width: 45px;
    margin-left: 1px;
    margin-top: 70px;
}

.sidebar.hide .profil h1{
    display: none;
}

.sidebar .text{
    font-weight: bold;
    text-align: center;
    color: #FFFF;
    margin: 7px;
}

.sidebar.hide .text{
    display: none;
}

.sidebar a{
    text-decoration: none;
}

.sidebar.hide a .img{
    display: none;
}

.content{
    flex-grow: 1;
    background: #D23939;
    margin-left: 15px;
}

.sidebar ul li .text{
    font-size: 15px;
}

.sidebar .nav:hover{
    border: none;
}

.sidebar li.nav-link.active{
    background-color: #D23939;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 3px 15px;
    box-sizing: border-box;
    width: 200px;
    line-height: 1.5;
}

.sidebar li.nav-link:hover, .nav-link:focus{
    border: none;
}

.sidebar li.nav-link{
    border: none;
    color: none;
    transition: none;
}

.sidebar li.nav-link a i.icon{
    position: absolute;
    right: 27px;
    margin: 0px;
    transition: 0.3s ease;
}

.sidebar.hide li.nav-link a i.icon{
    display: none;
}

.sidebar li.nav-link .dd{
    display: block;
    border: none;
    color: none;
    transition: none;
}

.sidebar li.nav-link #dropdown{
    border-radius: 4px;
    background-color: #711A1A;
    border: 2px solid #D23939;
    min-width: 0rem;
    position: absolute;
    padding: 1px 15px 1px 8px;
    display: none;
}

.sidebar.hide li.nav-link #dropdown{
    border-radius: 4px;
    background-color: #711A1A;
    border: 2px solid #D23939;
    min-width: 0rem;
    position: absolute;
    padding: 1px 15px 1px 8px;
    left: 100%;
    width: 115px;   
}

.sidebar li.nav-link #dropdown a{
    font-size: 12px;
}

.sidebar li.nav-link #dropdown a:hover{
    background: #D23939;
    border-radius: 4px;
}

.sidebar li.nav-link ul li{
    list-style-type: none;
}

.sidebar.hide ul.nav{
    margin-top: 1px;
}

.sidebar li a{
    color: #FFFF;
}
/*SIDEBAR SELESAI*/

/*TOGGLE MENU*/
#menu-button{
    top: 34px;
    width: 25px;
    position: absolute;
    overflow: hidden;
    margin-left: 10px;
}

#m-label{
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#hamburger, #m-label:after, #m-label:before{
    position:absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #FFFF;
}

#m-label:after, #m-label:before{
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#m-label:before{
    top: 0;
}

#m-label:after{
    top: 8px;
}

#hamburger{
    top: 16px;
}

#hamburger:before{
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #FFFF;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #m-label:before{
    left: -25px;
}

#menu-checkbox:checked + #m-label:after{
    left: 25px;
}

#menu-checkbox:checked + #m-label #hamburger:before{
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown{
    0%{
        top: 0;
    }
    50%{
        top: -27px;
    }
    100%{
        top: -14px;
    }
}

@keyframes shakeUp{
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0);
    }
}

@keyframes shakeDown{
    0%{
        transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0);
    }
}
/*TOGGLE MENU SELESAI*/

/*MAHASISWA-HOME*/
#home header {
    color: #FFFFFF;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-top: 86px;
    margin-left: 80px;
}

#home img {
    width: 170px;
    margin-top: 380px;
    margin-left: 80px;
}

/*MAHASISWA-KRS*/
.box{
    background-color: #EA7A7A;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}

#smt1{
    margin-left: 80px;
    margin-top: 35px;
}
#smt1 img{
    width: 170px;
    margin-top: 150px;
}
#smt1 .row{
    font-size: 10px;
}

#smt3{
    margin-left: 80px;
    margin-top: 35px;
}
#smt3 img{
    width: 170px;
    margin-top: 150px;
}
#smt3 .row{
    font-size: 10px;
}

#smt5{
    margin-left: 80px;
    margin-top: 35px;
}
#smt5 img{
    width: 170px;
    margin-top: 150px;
}
#smt5 .row{
    font-size: 10px;
}

#smt7{
    margin-left: 80px;
    margin-top: 35px;
}
#smt7 img{
    width: 170px;
    margin-top: 150px;
}
#smt7 .row{
    font-size: 10px;
}

#validasi{
    margin-left: 80px;
    margin-top: 35px;
}

#validasi img{
    width: 170px;
    margin-top: 55px;
}

#validasi .row{
    font-size: 12px;
}

#validasi th{
    font-size: 15px;
}

#validasi td{
    font-size: 13px;
}

/*MAHASISWA-BIODATA*/
#biodata{
    margin-left: 80px;
    margin-top: 35px;
}

#biodata .row{
    font-size: 10px;
}
#biodata img {
    width: 170px;
    margin-top: 90px;
}

/*MAHASISWA-ABOUT*/
#about{
    margin-left: 80px;
    margin-top: 35px;
}

#about .email span{
    text-align: center;
    font-weight: bold;
}

#about .insta{
    font-size: 12px;
    text-decoration: none;
    color: #0000;
}

#about img {
    width: 170px;
    margin-top: 140px;      
}

/* Responsive */
@media screen and (max-width: 375px) {
    .sidebar{
        position: fixed;
    }

    #about{
        width: auto;
    }
    #about img{
        margin-top: 30px;
    }

    #smt1{
        width: auto;
    }
    #smt1 img{
        margin-top: auto;
    }

    #smt3{
        width: auto;   
    }

    #smt5{
        width: auto;
    }

    #smt7{
        width: auto;
    }

    #validasi{
        width: auto;
    }

    #biodata{
        width: auto;
    }
}